{% extends 'admin/change_list.html' %}

{% block object-tools %}
    <div>

    </div>
    <ul class="object-tools" style="margin-right:18.5em;">
        <li>
            <a href="purge/" class="addlink">Отчистить задачи</a>
        </li>
        <li>
            <a href="generate_meta/" class="addlink">Сгенерировать META-теги и заголовок</a>
        </li>
    </ul>
    {{ block.super }}
{% endblock %}
