{% extends "admin/base_site.html" %}
{% load i18n static %}
{% load admin_urls %}

{% block extrahead %}{{ block.super }}
<script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
{% endblock %}
{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; {% trans 'Сгенерировать мета-теги' %}
</div>
{% endblock %}
{% endif %}
{% block content %}
<div id="content-main">
    <h1>{% trans 'Сгенерировать мета-теги для товаров категории' %} <strong>{{ category.name}}</strong> {{ category.pk }}</h1>

    <p>
        Доступные для использования переменные: {model_name}, {category_name}
    </p>
<form action="" method="post" id="{{ opts.model_name }}_form">
    {% csrf_token %}
    {% block form_top %}
    {% endblock %}

{% if is_popup %}<input type="hidden" name="_popup" value="1">{% endif %}
{% if form.errors %}
    <p class="errornote">
    {% if form.errors.items|length == 1 %}
        {% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}
    {% endif %}
    </p>
    <p>
        {{ form.errors.items }}
    </p>
{% endif %}



<fieldset class="module aligned">



    <div class="form-row">
      {{ form.title.errors }}
      {{ form.title.label_tag }} {{ form.title }}
      {% if form.title.help_text %}
      <div class="help">{{ form.title.help_text|safe }}</div>
      {% endif %}
    </div>

    <div class="form-row">
      {{ form.meta_keywords.errors }}
      {{ form.meta_keywords.label_tag }} {{ form.meta_keywords }}
      {% if form.meta_keywords.help_text %}
      <div class="help">{{ form.meta_keywords.help_text|safe }}</div>
      {% endif %}
    </div>


    <div class="form-row">
      {{ form.meta_description.errors }}
      {{ form.meta_description.label_tag }} {{ form.meta_description }}
      {% if form.meta_description.help_text %}
      <div class="help">{{ form.meta_description.help_text|safe }}</div>
      {% endif %}
    </div>

    <div class="form-row">
      {{ form.name.errors }}
      {{ form.name.label_tag }} {{ form.name }}
      {% if form.name.help_text %}
      <div class="help">{{ form.name.help_text|safe }}</div>
      {% endif %}
    </div>
</fieldset>

<div class="submit-row">
<input type="submit" value="{% trans 'Сгенерировать новые META-теги для товаров' %}" class="default">
</div>

</div>
</form></div>
{% endblock %}
